<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout('Novo Cliente', ~{::content})}">
<th:block th:fragment="content">

    <div class="page-header">
        <div>
            <h1>Novo Cliente</h1>
            <p>Preencha os dados do cliente </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Dados do Cliente</div>
        <div class="card-body">
            <form th:action="@{/clientes/salvar}" method="post">
                <div class="form-grid">
                    <div class="form-group full">
                        <label>Nome completo *</label>
                        <input type="text" name="nome" required placeholder="Ex: João da Silva"/>
                    </div>
                    <div class="form-group">
                        <label>CPF * (somente números)</label>
                        <input type="text" name="cpf" required maxlength="11"
                               placeholder="Ex: 12345678901"
                               pattern="\d{11}" title="Digite 11 dígitos sem pontos"/>
                    </div>
                    <div class="form-group">
                        <label>Data de Nascimento *</label>
                        <input type="date" name="dataNascimento" required/>
                    </div>
                    <div class="form-group">
                        <label>E-mail *</label>
                        <input type="email" name="email" required placeholder="Ex: joao@email.com"/>
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" name="telefone" placeholder="Ex: 21999999999"/>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Salvar Cliente</button>
                    <a href="/clientes" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

</th:block>
</html>